.cart-prod {
  position: absolute;
}

.wish {
  margin-left: 100px;
  width: 890px;
  height: 160px;
  margin-bottom: 5px;
  position: relative;
  background-color: #dddddd;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bill {
  position: absolute;
  margin-left: 1050px;
}

.title {
  position: absolute;
  display: inline;
  font-size: large;
  margin-left: 10px;
}

.fabric {
  position: absolute;
  display: inline;
  font-size: large;
  margin-left: 10px;
  margin-top: 40px;
}

.quantity {
  position: absolute;
  display: inline;
  margin-left: 10px;
  margin-top: 90px;
}

.price {
  position: absolute;
  display: inline;
  font-size: large;
  margin-left: 10px;
  margin-top: 130px;
}

.button {
  position: relative;
  display: inline;
  float: right;
  background-color: indianred;
  color: white;
  margin-right: 50px;
  margin-top: 70px;
}

img {
  border: 10px solid #dddddd;
}

td {
  text-align: center;
}
